# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/

# VS Code settings
.vscode/

# Large folders (do NOT upload)
data/
models/
plant_disease_detection/

# Streamlit cache
.streamlit/

# Debug test scripts
debug_inference.py
check_model_labels.py
multi_test_verbose.py
test_on_train.py
